p {
    font-family: 'Roboto', sans-serif;
}

.left-profile {
    width: 0px;
    padding-left: 20px;
    padding-right: 260px;
}

.template {
    width: 230px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(242,242,242);
    border-radius: 11px;
    margin-bottom: 5px;
    cursor: pointer;
}

.image {
    height: 30px;
    margin-top: 0px;
    margin-bottom: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 5px;
    margin-right: 20px;
}

.outline {
    font-weight: bold;
}

.template2 {
    width: 230px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 11px;
    margin-bottom: 5px;
}

.template2:hover {
    background-color: rgb(242,242,242);
    transition: 0.2s;
    cursor: pointer;
}

.template3 {
    width: 230px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 11px;
}

.template3:hover {
    background-color: rgb(242,242,242);
    transition: 0.2s;
    cursor: pointer;
}

.break-line {
    width: 230px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text {
    width: 200px;
    padding-left: 10px;
    padding-top: 0px;
    margin-top: 0px;
}

.channel-image {
    height: 30px;
    width: 30px;
    border-radius: 100px;
    margin-right: 20px;
    margin-left: 10px;
}


