.trending-tab {
    display: flex;
    flex-direction: row;
}

.trend-left {
    display: flex;
    flex-direction: row;
}

.explore {
    margin-top: 5px;
    height: 30px;
    padding-left: 13px;
    padding-right: 13px;
    border: none;
    border-radius: 7px;
    font-size: 15px;
    color: white;
    background-color: rgb(15,15,15);
    cursor: pointer;
    margin-right: 8px;
}

.explore2 {
    margin-top: 5px;
    height: 30px;
    padding-left: 13px;
    padding-right: 13px;
    border: none;
    border-radius: 9px;
    font-size: 15px;
    color: black;
    background-color: rgb(242,242,242);
    cursor: pointer;
    margin-right: 8px;
}

.explore2:hover {
    background-color: rgb(190, 190, 190);
    transition: 0.2s;
}

.explore3 {
    margin-top: 5px;
    height: 30px;
    padding-left: 13px;
    padding-right: 13px;
    border: none;
    border-radius: 9px;
    font-size: 15px;
    color: black;
    background-color: rgb(242,242,242);
    cursor: pointer;
}

.explore3:hover {
    background-color: rgb(190, 190, 190);
    transition: 0.2s;
}

.right-expand {
    display: flex;
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin-top: 5px;
    padding-left: 6px;
}

.expand-right {
    height: 40px;
    width: 40px;
    border-radius: 100px;
    position: relative;
    display: inline-block;
}

.expand-right:hover .dropdown-content {
    display: block;
    transition: 0.3s;
}

.expand-right:hover {
    background-color: rgb(190, 190, 190);
    transition: 0.3s;
}